
* {
    font-family: "Open Sans";
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.flex-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    align-self: flex-end;
    margin-right: 300px;
    height: 60px;
}

.nav-elem {
    margin-right: 50px;
    font-size: 14pt;
    padding: 20px;
    display: inline-block;
}

.banner-with-text {
    height: 450px;
    width: 100%;
    background-image: url('/images/pic1.png');
}

.text-on-banner {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 350px;
    color: white;
}

.text-under-banner {
    display: inherit;
    flex-direction: row;
    background-color: rgba(247, 247, 247, 1);
}

.text-under-banner-1 {
    display: inherit;
    flex: 1.5 1;
}

.text-under-banner-2 {
    font-size: 15pt;
    padding: 5px;
    display: inherit;
    justify-content: right;
    flex: 4 2;
    margin-top: 5px;
}

.about-comp {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.about-comp-head {
    font-size: 40px;
    border-bottom: 7px solid red;
}

.about-comp-text {
    font-size: 14pt;
    margin-right: 30px;
}

.about-comp-picture {
    background: url('/images/pic2.png');
    background-repeat: no-repeat;
    background-size: 140%;
    width: 407px;
    height: 419px;
    flex: 2;
}

/* 2 версия вёрстки каталогов
 */
.catalog-name {
    display: inherit;
    justify-content: center;
    border-bottom: 7px solid red;
    font-size: 40px;
}

.catalog {
    display: inherit;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    margin-top: 10px;
}

.catalog-item {
    grid-row: initial;
    padding-bottom: 30px;
}

.head-name-catalog-item {
    font-size: 17pt;
}

.describe-catalog-item {
    font-size: 15pt;
}

.more-catalog-item {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: red;
    padding: 15px;
}

.catalog-pdf {
    display: inherit;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    margin-top: 10px;
    justify-self: auto;
}

.pdf-catalog-item {
    display: grid;
    margin-bottom: 20px;
}

.catalog-name-pdf {
    font-size: 40px;
    border-bottom: 7px solid red;
    margin-top: 20px;
}

.sertificat {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;

}

.sertificat-name {
    font-size: 40px;
    border-bottom: 7px solid red;
    margin-top: 20px;
}

.sertificat-pic {
    display: inherit;
    justify-items: right;
    width: 156px;
    height: 220px;
}

.sertificat-pic1 {
    background: url('/images/image_11.png');
    background-size: 100%;

}

.sertificat-pic2 {
    background: url('/images/image_12.png');
    background-size: 100%;
}

.sertificat-pic3 {
    background: url('/images/image_13.png');
    background-size: 100%;
}

.sertificat-pic4 {
    background: url('/images/image_14.png');
    background-size: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 250px;
    background: rgba(39, 39, 39, 1);
    align-items: center;
}

.footer-items {
    display: inherit;
    flex-direction: row;
    padding: 0 22em 0;
}


/* 1 версия вёрстки каалогов
/*.catalog {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    !*justify-content: center;*!*/
/*}*/

/*.catalog-name {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 40px;*/
/*    padding: 10px;*/
/*    border-bottom: 7px solid red;*/
/*}*/

/*.catalog-item {*/
/*    background-repeat: no-repeat;*/
/*    padding: 25px;*/
/*}*/

/*.head-name-catalog-item {*/
/*    font-size: 17pt;*/
/*}*/

/*.describe-catalog-item {*/
/*    font-size: 15pt;*/
/*}*/

/*.more-catalog-item {*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    background-color: red;*/
/*    padding: 20px;*/
/*    margin-top: 30px;*/
/*}*/

/*.catalog-pdf {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    justify-content: space-between;*/
/*    height: 700px;*/
/*    width: 700px;*/
/*    margin: auto;*/

/*}*/

/*.pdf-catalog-item {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border: 1px solid;*/
/*    padding: 10px;*/
/*    margin: auto;*/
/*}*/


