.about-container-hy-lok {
  padding: 1% 15%;
  background-color: rgba(247, 247, 247, 1);

  .text-under-banner {
    display: grid;
    grid-template-columns: 35% 65%;

    .text-under-banner-1 {
      h1 {
        color: rgba(33, 37, 41, 1);
        margin: 3% auto;
      }
    }
    .text-under-banner-2 p {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 1400px) {
    .text-under-banner {
      .text-under-banner-1 h1 {
        font-size: 40px;
      }

      .text-under-banner-2 p {
        font-size: 24px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .text-under-banner {
      .text-under-banner-1 h1 {
        font-size: 30px;
      }

      .text-under-banner-2 p {
        font-size: 22px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .text-under-banner {
      .text-under-banner-1 h1 {
        font-size: 24px;
      }

      .text-under-banner-2 p {
        font-size: 17px;
      }
    }
  }
  @media screen and (max-width: 576px) {
    .text-under-banner {
      grid-template-columns: 100%;
      row-gap: 10px;

      .text-under-banner-1 {
        margin: 3% auto;

        h1 {
          justify-self: center;
          font-size: 24px;
        }
      }

      .text-under-banner-2 p {
        font-size: 16px;
      }
    }
  }
  //@media screen and (max-width: 576px) {
  //  .text-under-banner {
  //    .text-under-banner-1 h1 {
  //        font-size: 24px;
  //      }
  //    }
  //    .text-under-banner-2 p {
  //      font-size: 16px;
  //    }
  //  }
}

