.about-container-hy-lok {
  padding: 1% 15%;
  background-color: rgba(247, 247, 247, 1);

  .text-under-banner {
    display: grid;
    grid-template-columns: 35% 65%;

    .text-under-banner-2 {
      p {
        //font-size: 1.5vw;
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
        margin: 0 auto;
      }
    }
    .text-under-banner-1 {
      h1 {
        color: rgba(33, 37, 41, 1);
        font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
        //font-size: 4vw;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 575px) {
  }

  @media screen and (min-width: 576px) {
    max-width: 100%;
    height: auto;
  }
  @media screen and (min-width: 992px) {
    max-width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1400px) {
    max-width: 100%;
    height: auto;
  }
}
