.about-container-company {
  padding: 1% 15%;

  .about-company-title {
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;

    &:after {
      position: absolute;
      content: '';
      border-bottom: 0.4vw solid rgba(231, 53, 41, 1);
      bottom: 0;
      left: 0;
      right: 0;
      width: 6%;
      margin: 0 8%;
      height: 0.5vw;
    }
  }

  .about-comp {
    display: grid;
    grid-template-columns: 65% 30%;
    row-gap: 2.5%;
    margin-top: 0.5vw;
    grid-auto-rows: minmax(100px, auto);

    .about-comp-text {
      font-size: 24px;
    }

    .about-comp-picture {
      background: url('/images/2011_1_1.png') left center no-repeat;
      background-size: 150%;
      width: 100%;
      height: 30vw;
      margin: 2% auto;
    }
  }

  @media screen and (max-width: 1400px) {
    .about-comp {
      .about-comp-text {
        font-size: 24px;

        .about-comp-picture {
          height: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .about-company-title {
      font-size: 30px;
    }
    .about-comp {
      .about-comp-text {
        font-size: 22px;
        display: block;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .about-company-title {
      font-size: 24px;
      margin: 10px auto;
      display: table;
      &:after {
        width: 27%;
        margin: 0 40%;
      }
    }
    .about-comp {
      grid-template-columns: 100%;

      .about-comp-text {
        font-size: 16px;
        order: 2;
      }
    }
  }
  @media screen and (max-width: 576px) {
    .about-company-title {
      font-size: 22px;

      &:after {
        border-bottom: 1vw solid rgb(231, 53, 41);
      }
    }
    .about-comp {
      row-gap: 1%;
      .about-comp-text {
        font-size: 16px;
      }
    }
  }
}