@use "sass:map";


.banner-with-text {
  width: 100%;
  background: url('/images/bg2.png') top center no-repeat;

  .text-on-banner {
    display: flex;
    justify-content: end;
    padding: 40px 200px;

    h1 {
      font-size: 40px;
      font-weight: 200;
      color: white;
    }
  }

  @media screen and (min-width: map.get($grid-breakpoints, "xxl")) {
    width: 100%;
  }

  @media screen and (min-width: map.get($grid-breakpoints, "xl")) {
    width: 100%;

  }

  @media screen and (min-width: map.get($grid-breakpoints, "lg")) {
    height: 100%;

  }

  @media screen and (min-width: map.get($grid-breakpoints, "md")) {
    height: 100%;

  }

  @media screen and (min-width: map.get($grid-breakpoints, "sm")) {
    height: 100%;

  }

  @media screen and (min-width: map.get($grid-breakpoints, "xs")) {
    height: 100%;

  }
}

