.catalogue-container {
    padding: 0 200px;

    .catalogue-title {
        position: relative;
        width: fit-content;
        margin: auto;
        font-size: 40px;
        padding-bottom: .25em;

        &:after {
            position: absolute;
            content: '';

            border-bottom: 7px solid rgba(231, 53, 41, 1);
            bottom: 0;
            left: 0;
            right: 0;
            width: 30%;
            margin: 0 35%;
            height: 7px;
        }
    }

    .catalog {
        margin: 2em 0;
        display: grid;
        grid-template-columns: repeat(3, 31%);
        grid-auto-rows: auto;
        gap: 40px 40px;

        .catalog-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
            height: 100%;
            margin: auto;

            a {
                text-align: center;
                display: block;
                img {
                    width: inherit;
                    height: inherit;
                }
            }

            .head-name-catalog-item {
                font-size: 18px;
            }

            .describe-catalog-item {
                font-size: 16px;

                p {
                    padding-bottom: 10px;
                }
                li {
                    padding: 5px 25px;
                }
            }

            .more-catalog-item {
                text-decoration: none;
                cursor: pointer;
                color: white;
                background-color: red;
                padding: 15px;
            }
        }
    }
}