.catalogue-container {

  .catalogue-title {
    position: relative;
    width: fit-content;
    margin: auto;
    font-size: 40px;

    &:after {
      position: absolute;
      content: '';

      border-bottom: 0.4vw solid rgba(231, 53, 41, 1);
      bottom: 0;
      left: 0;
      right: 0;
      width: 15%;
      margin: -1% 47%;
      height: 0.2vw;
    }
  }

  .catalog {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: 40px;
    padding: 1% 15%;


    .catalog-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      height: 100%;
      width: 300px;
      margin: auto;

      a {
        text-align: center;
        display: block;

        img {
          width: inherit;
          height: inherit;
          max-width: 300px;
        }
      }

      .head-name-catalog-item {
        font-size: 20px;

      }

      .describe-catalog-item {
        font-size: 20px;


        p {
          font-size: 20px;

        }
      }

      .more-catalog-item {
        text-decoration: none;
        cursor: pointer;
        color: white;
        background-color: red;
        padding: 3%;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .catalogue-title {
      font-size: 30px;
    }
    .catalog {
      grid-template-columns: repeat(2, 300px);
      .catalog-item {

        .head-name-catalog-item {
          font-size: 22px;
        }

        .describe-catalog-item {
          font-size: 22px;

          p {
            font-size: 22px;
          }
        }
        .more-catalog-item {
          font-size: 22px;
          padding: 3%;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .catalogue-title {
      font-size: 24px;
      margin-top: 20px;
    }

    .catalog {
      grid-template-columns: repeat(2, 300px);
      justify-content: center;
      .catalog-item {

        .head-name-catalog-item {
          font-size: 17px;
        }

        .describe-catalog-item {
          font-size: 17px;

          p {
            font-size: 17px;
          }
        }
        .more-catalog-item {
          font-size: 17px;
          padding: 3%;
        }
      }
    }
  }

  @media screen and (max-width: 680px) {
    .catalog {
      grid-template-columns: repeat(auto-fit,300px);
    }
  }

  @media screen and (max-width: 576px) {
    padding: 1% 0;
    .catalogue-title {
      font-size: 21px;
      &:after {
        border-bottom: 1vw solid rgba(231, 53, 41, 1);
        width: 15%;
        margin: -1% 47%;
        height: 0.2vw;
      }
    }
    .catalog {
      grid-template-columns: repeat(1, 300px);
      padding: 1% 3%;

      .catalog-item {

        .head-name-catalog-item {
          font-size: 16px;
        }

        .describe-catalog-item {
          font-size: 16px;
          p {
            font-size: 17px;
          }
        }
        .more-catalog-item {
          font-size: 16px;
          padding: 3%;
        }
      }
    }
  }
}