.certificate-container {
  padding: 30px 15%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: auto;

  .certificate-title div {
    display: grid;
    justify-content: center;
    position: relative;
    margin-top: 20px;

    p {
      font-size: 40px;
    }

    &:after {
      position: absolute;
      content: '';
      border-bottom: 0.4vw solid rgba(231, 53, 41, 1);
      bottom: 0;
      left: 0;
      right: 0;
      width: 20%;
      margin: 0 40%;
      height: 0.5vw;
    }
  }

  .certificate-list {
    grid-template-columns: repeat(4, 150px);
    //justify-content: center;
    display: grid;
    grid-template-rows: auto;
    justify-content: space-between;

    .certificate-item {
      height: 200px;
      width: 150px;
    }

    .certificate-picture-1 {
      background: url("/images/image_11.png") top right no-repeat;
      background-size: 100%;
      justify-self: center;
    }

    .certificate-picture-2 {
      background: url("/images/image_12.png") top right no-repeat;
      background-size: 100%;
      justify-self: center;

    }

    .certificate-picture-3 {
      background: url("/images/image_13.png") top right no-repeat;
      background-size: 100%;
      justify-self: center;

    }

    .certificate-picture-4 {
      background: url("/images/image_14.png") top right no-repeat;
      background-size: 100%;
      justify-self: center;

    }
  }

  @media screen and (max-width: 1440px) {
    .certificate-title div p {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 1200px) {
    padding-top: 4%;
    .certificate-title div p {
      font-size: 30px;
    }
    .certificate-list{
      grid-template-columns: repeat(4,128px);
      .certificate-item {
        width: 120px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 100%;
    padding-top: 4%;
    .certificate-title {
      div {
        p {
          font-size: 24px;
        }

        &:after {
          width: 10%;
          margin: 0 45%;
        }

        margin-bottom: 20px;
      }

    }
    .certificate-list {
      .certificate-item {
        height: 150px;
        width: 100px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .certificate-list {

      grid-template-columns: repeat(4, 100px);
    }
  }

  @media screen and (max-width: 576px) {
    padding: 27% 5% 7%;
    .certificate-title {

      div {
        p {
          font-size: 22px;
        }

        &:after {
          border-bottom: 1vw solid rgba(231, 53, 41, 1);
        }
      }
    }

    .certificate-list {
      grid-template-columns: repeat(4, 75px);

      .certificate-item {
        height: 30vw;
        width: 22vw;
      }
    }
  }
}

