//@use "sass:map";

footer {
  //@media screen and (max-width: map.get($grid-breakpoints, "xxl")) {
  //  background: red;
  //}
  //
  //@media screen and (max-width: map.get($grid-breakpoints, "xl")) {
  //  background: blue;
  //
  //}
  //
  //@media screen and (max-width: map.get($grid-breakpoints, "lg")) {
  //  background: red;
  //
  //}
  //
  //@media screen and (max-width: map.get($grid-breakpoints, "md")) {
  //}
  //
  //@media screen and (max-width: map.get($grid-breakpoints, "sm")) {
  //}
  //
  //@media screen and (max-width: map.get($grid-breakpoints, "xs")) {
  //}
  //padding: 25px 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  background: rgba(39, 39, 39, 1);
  align-items: center;

  .footer-items {
    display: inherit;
    flex-direction: row;
    gap: 2em;

    a {
      font-size: 1.5vw;
      //padding: 0 2em;
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }


}

