.my-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

    @media screen and (max-width: 540px) {
        width: 100%;
        height: auto;
        margin: auto;
    }
    @media screen and (min-width: 576px){
        width: 100%;
        height: auto;
        margin: auto;
    }
    @media screen and (min-width: 992px){
        width: 100%;
        height: auto;
        margin: auto;
    }
    @media screen and (min-width: 1200px){
        width: 100%;
        height: auto;
        margin: auto;
    }
    @media screen and (min-width: 1400px){
        width: 100%;
        height: auto;
        margin: auto;
    }

    .header-logo {
        a {
            display: block;
            height: 3vw;

            img {
                min-width: inherit;
                width: inherit;
                max-width: inherit;

                min-height: inherit;
                height: inherit;
                max-height: inherit;
            }
        }
    }
    .header-items {
        display: inherit;
        flex-direction: row;
        gap: 2em;

        a {
            text-align: center;
            font-size: 1.5vw;

            text-decoration: none;
            color: black;
        }
    }
}