.my-container {
  padding: 1% 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6em;

  .header-logo {
    a {
      display: block;
      height: 100%;
      width: 100%;
      margin: auto;

      img {
        min-width: inherit;
        //width: inherit;
        max-width: inherit;

        min-height: inherit;
        height: inherit;
        max-height: inherit;
      }
    }
  }

  .header-items {
    display: inherit;
    flex-direction: row;
    gap: 4em;

    a {
      text-align: center;
      text-decoration: none;
      color: black;
    }
  }


  @media screen and (max-width: 1400px) {
    font-size: 24px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 22px;
    .header-items {
      gap: 3em;
    }
  }
  @media screen and (max-width: 992px) {
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    .header-items {
      flex-direction: column;
      gap: 1em;
    }
  }
  @media screen and (max-width: 576px) {
    .header-items {
      flex-direction: column;
      gap: 0.3em;
    }
    font-size: 13px;
  }
}