.my-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 6em;

  .header-logo {
    a {
      display: block;
      height: 100%;
      width: 100%;
      margin: auto;

      img {
        min-width: inherit;
        //width: inherit;
        max-width: inherit;

        min-height: inherit;
        height: inherit;
        max-height: inherit;
      }
    }
  }

  .header-items {
    display: inherit;
    flex-direction: row;
    gap: 2em;

    a {
      text-align: center;
      text-decoration: none;
      color: black;
    }
  }

  //@media screen and (min-width: 576px) {
  //  .header-items{
  //    flex-direction: column;
  //    gap: 0.3em;
  //  }
  //  font-size: 15px;
  //}


  @media screen and (min-width: 992px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 24px;
  }
  @media screen and (max-width: 576px) {
    .header-items {
      flex-direction: column;
      gap: 0.3em;
    }
    font-size: 13px;
  }
}